#cabecalho{
    max-width: 100%;
    display: flex;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  justify-content: space-between;
}
.quadrado{
    max-width: 100%;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
}
#alianca{
margin-left: 300px;

}
#logo{
    /* background-color: yellow; */
    align-items: center;
}
#republica{
    /* background-color: red; */
    align-items: end;
    width: 300px;
}
.teste{
    align-items: end;
}
.pesquisa {
    position: relative;
    --size-button: 40px;
  }
  
  .campoPesquisa {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width:0px;
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .campoPesquisa:focus,
  .campoPesquisa:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .campoPesquisa:focus + .icone,
  .campoPesquisa:not(:invalid) + .icone {
    pointer-events: all;
    cursor: pointer;
  }
  
  .pesquisa .icone {
    color: rgb(133, 128, 128);
    position: absolute;
    width:38px;
    height:38px;
    top: 0;
    left: 0;
    padding: 5px;
    pointer-events: none;
  }
  
  .pesquisa .icone svg {
    width: 100%;
    height: 100%;
  }
  #carouselExampleCaptions{
    /* max-width: 300px; */
  }