#cabecalho{
    max-width: 100%;
    display: flex;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  justify-content: space-between;
}
.quadrado{
    max-width: 100%;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
}
#alianca{
margin-left: 100px;

}
#logo{
    /* background-color: yellow; */
    align-items: center;
}
#republica{
    /* background-color: red; */
    align-items: end;
}
