#cabecalho{
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  justify-content: space-between;
}
.quadrado{
    max-width: 100%;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* #alianca{ */
/* grid-area: alianca; */
/* } */
#logo{
    align-items: center;
    /* grid-area: logo; */
}
#republica{
    align-items: end;
    /* grid-area: republica; */
}
/* #alianca{
    width: 45%;
}
#logo{
    width: 50%;
}
#republica{
    width: 6%;
} */